python-dotenv
pyyaml
langchain
langchain-openai
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph
langchain-core
faiss-cpu
sentence-transformers
docx2txt
pydantic-settings
streamlit
psycopg[binary]
psycopg-pool
langgraph-checkpoint-postgres
icecream
fastapi
uvicorn
telethon
aiohttp
langmem
pydantic
pydantic-core
pydantic[email]
Pillow
redis
requests
beautifulsoup4
lxml
