python-dotenv
pyyaml
langchain
langchain-openai
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph
langchain-core
faiss-cpu
sentence-transformers
docx2txt
pydantic-settings
psycopg[binary]
psycopg-pool
langgraph-checkpoint-postgres
icecream
fastapi
uvicorn
aiohttp
langmem
pydantic
pydantic-core
pydantic[email]
httpx
Pillow
redis
jinja2
itsdangerous
python-multipart
requests
beautifulsoup4
lxml
